body{
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  font-family: $fontfamily;
  color: $font;

  p{
    line-height: 1.8em;
  }

  h1,h3,h4{
    text-transform: uppercase;
    color: $main;
  }
}

.main-wrapper{
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

header{
    position: relative;

  .logo {
    display: inline-block;
    width: 40%;

    img{
      width: 100%;
      }
    }

    nav{
      position: absolute;
      top: 158px;
      display: inline-block;
      border-top: 1px solid $lines;
      border-bottom: 1px solid $lines;
      text-transform: uppercase;
      line-height: 3.5em;
      width: 60%;
      text-align: center;

      a{
        text-decoration: none;
        color: $main;
        padding: 50px;
        font-size: 20px;

        &:hover{
          color: darken($main, 10%);

        }
        }
      }
}

.toolbar{
  text-align: right;
  padding-bottom: 30px;

  input{
    height: 35px;
    width: 22%;
    border: 1px solid $main;
    background-color: transparent;

    &::placeholder{

      color: $main;
      font-size: 18px;
      text-indent: 10px;
        }
    }
  }

.post-list{
  display: flex;
  flex-wrap:wrap;

  article {
    flex: 1 370px;   /* Initial width of 600px/2 Grow to fill remaining space */
    min-width: 0;
    margin-bottom: 20px;
    background-color: $articleColor;
    padding: 10px;
    height: 100%;

    &:nth-child(even){
      margin-left: 30px;
    }
    img{
      width: 100%;
      }
    div{
      padding: 5px;
      h3{
        color: $header;
      }
    }
  }
}

.post-description{
  margin-left: 5px;
  color: $textDescription;
  border-bottom: 1px solid $lines;
}

.about{
  h1{
    text-align: right;
  }

  img{
    width: 100%;
  }
}

.contact-form{
  h1,h4{
    text-align: right;
    color: $main;
  }
  form{
    padding-bottom: 60px;
    input,textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $lines;
    box-sizing: border-box;
    background-color: transparent;
  }



    button{
    background-color: $main;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px;
    width: 200px;
    position: absolute;
    right: 0;
    }

  }
}

footer{
  font-size: 13px;
}
